* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
    text-decoration: none;
}
.clearfix::after {
  content:"";
  display:block;
  clear:both;
}

header {
	width: 100%;
	height: 70px;
	background-color: #EC715F;
}
.head-line {
	width: 1024px;
	margin: 0 auto;
}
.head-image {
    height: 70px;
	float: left;
}

.nav-list {
    float: right;
}

.nav-list-item {
	list-style: none;
	font-size: 16px;
	color: #FAFAFA;
	padding: 0px 30px;
	float: left;
	line-height: 70px;
	width: 120px;
}

.main-visual {
	background-image: url("../img２/mv.png");
	height: 650px;
	width: 100%;
	text-align: center;
}
.main-visual-content {
	margin-top: 200px auto:
}

.main-visual-text {
	font-size: 64px;
	color: #FAFAFA;
	line-height: 200px;
	padding-bottom: 10px;
}
.main-visual-name{
	font-size: 20px;
	color: #FAFAFA;
}
